body,html 
{
	margin: 0% auto;
	height: 100%;
}

.padding-top-10 {
	padding-top:10%;
}

.padding-left-10 {
	padding-left:10%;
}

li {
	list-style-type: none;
	display: inline-flex;
	padding: 1%;
	border: 1px solid #EDEBE8;
}


#username
{	
	padding:1% 2%;
}

#tag
{
	padding: 1% 2%;
}

.vl
{
	display: block;
    width:5px;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
    left: 50%;
    right: 50%;
}